.nav-custom
{
    background-color:  #435268;
}

.contact-icn
{
    color: #575757;
    justify-content: end;
}

.navtxt
{
    color: white;
}

.infotxt
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand
{
    color: blueviolet;
}

.mxwidth
{
    max-width: 450px;
    
}

.mnwidth
{
    min-width: 380px;
}


