body
{
    box-sizing: border-box;
}

.nametag
{
    width: 100px;
    height: 30px;
}

.nametag:hover
{
    width: 109px;
    height: 31px;
}

.mxwidth
{
    max-width: 450px;
    
}

.mnwidth
{
    min-width: 380px;
}

.crcl
{
    width: 450px;
    height: 450px;
    
}

.anmtn
{
    border-radius: 50%;
    size: 50px;
}

.fontchng
{
    font-family: 'Tahoma';
}


.card-title
{
    text-align: center;
}

.wdth
{
    width: 100%;
}